*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lexend',sans-serif;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

h1 {
  background-color: #005244;
}

div {
  color: white;
  background-color: black;
}

p {
  background-color: beige;
}